header {
     
    text-align: center;
    margin: 1%;
    border-top: dashed 0.1% black;
    
    

}
.href {
    
    padding: 3%;
    font-size: 150%;
    margin: auto;
    text-align:center;
}
body {
    background-color: #e0cca5;
     
}
footer {
    background-color:rgb(162, 127, 101);
    border-radius: 10px;
    padding: 2%;
    margin-top:1%;
    column-count: 2;
    width: auto;
}
.h {
    text-align: center;
    font-size:200%;
    border-radius: 10px;
    width:fit-content;
    margin: auto; 
    padding: 6%;
    background-color:rgb(162, 127, 101);
}
.header{
     
    
    padding: 2%;
    
    background-image:url(picteres/forest.jpg);
    text-align: center;
 
}
.href2 {
    width: auto;
    background-color:rgb(162, 127, 101) ;
    border:dotted  5px rgb(78, 46, 9);
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    margin-left: 1%;
    
    

}
.chat {
    background-color: antiquewhite;
    margin: 2%;
    border-radius: 5px;
    font-size: 1.5vw;
    border:dotted  5px rgb(78, 46, 9);
    width: fit-content;

}
.signup {
    background-image:url(picteres/forest.jpg);
    width: 60%;
    border-radius: 40px;
    padding:3% ;
    text-align: center;
    margin: auto;

}
input {
    height: 7%;
    margin:2%;
    width: 45%;
}
img {
    width: 100%;
    height: auto;
}
 
    



.chatt {
    background-color: antiquewhite;
    margin: 2%;
    border-radius: 5px;
    font-size: 1.5vw;
    border:dotted  5px rgb(78, 46, 9);
     width: 80%;
    column-count: 2;
    margin-bottom: 6%;
    
   

}
.img{
    width: 100%;
    
    
}









.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.product-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: green;
}
a{
    text-decoration:none
    }
.products-list {
    background-color: rgb(162, 127, 101);
    border-radius: 30px;
    text-align: center;

     
}
.jorney{
    column-count:3;
    
}
.trip{
    column-count: 3;
}